# Build and IDE files
build/
Debug/
Release/
*.obj
*.o
*.so
*.dll
*.exe
*.lib
*.pdb
*.idb
*.exp
*.log
*.sln
*.vcxproj*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.user
*.DS_Store
*.swp
*.bak
*.tmp
*.out
*.class
*.pyc
*.ipynb_checkpoints
*.vscode/
.idea/
.vs/
_deps/
*.generated/
*.ncb
*.aps
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.tlog
*.lastbuildstate
*.cache
*.clang*
*.gch
*.pch
*.directory
*.orig
*.rej
*.coverage
*.gcno
*.gcda
*.gcov
.vscode/
install/